page-maps {
    img {
        border-radius:50%;
        border-radius:16px;
    border:1px solid #000 !important;
    }
    .img {
        border-radius:50%;
        border-radius:16px;
    border:1px solid #000 !important;
        
    }
    #map img {
        border-radius:50%;
        border-radius:16px;
    border:1px solid #000 !important;
        
    }
    #map .img {
        border-radius:50%;
        border-radius:16px;
    border:1px solid #000 !important;
    }
    
}
